<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bombardier.PTU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Bombardier.PTU.Properties.Settings.TemplateConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Template.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <Bombardier.PTU.Properties.Settings>
            <setting name="PathBrowser" serializeAs="String">
                <value>C:\Program Files\Internet Explorer\iexplore.exe</value>
            </setting>
            <setting name="FontXP" serializeAs="String">
                <value>Tahoma, 8pt</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>1010, 720</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="PathTCMSProgrammer" serializeAs="String">
                <value />
            </setting>
            <setting name="PathFTPClient" serializeAs="String">
                <value />
            </setting>
            <setting name="FontWin7" serializeAs="String">
                <value>Segoe UI, 9pt</value>
            </setting>
        </Bombardier.PTU.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
