<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Common.Properties.Settings.DataDictionaryConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Configuration\DataDictionary.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="Common.Properties.Settings.PTUConfigurationConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Configuration\PTU Configuration.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <Common.Properties.Settings>
            <setting name="PortFullSpecification" serializeAs="String">
                <value />
            </setting>
            <setting name="PortIdentifier" serializeAs="String">
                <value />
            </setting>
            <setting name="PortName" serializeAs="String">
                <value />
            </setting>
            <setting name="PathBrowser" serializeAs="String">
                <value>C:\Program Files\Internet Explorer\iexplore.exe</value>
            </setting>
            <setting name="HashCodeLevel1" serializeAs="String">
                <value>1793506752712787170</value>
            </setting>
            <setting name="HashCodeLevel2" serializeAs="String">
                <value>1232229187721023276</value>
            </setting>
        </Common.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
