<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WibuKey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WibuKey.Properties.Settings>
            <setting name="HashCodeWkDevUser" serializeAs="String">
                <value>-2501720387180353553</value>
            </setting>
            <setting name="HashCodeWkDevFirm" serializeAs="String">
                <value>4436298908807646370</value>
            </setting>
        </WibuKey.Properties.Settings>
    </userSettings>
</configuration>